@using PrincipalObjects.Objects
@model List<WorkShift>;

@{
    User user = (User)ViewData["ActiveUser"];
    ViewData["Title"] = "Turnos";
}

@*<div id="EditBlur" class="hasBlur">
</div>*@
<div class="EditTurno-Container">
</div>

<div class="bg-container">
    <div class="row pt-3 justify-content-start">
        <div class="col-2 ml-2">
            <button type="button" class="btn btn-secondary m-3"><i class="mdi mdi-account-search" style="font-size: 15px;font-style: normal !important;">AGREGAR</i></button>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-11 mt-3 text-center" id="PartialEmployee">
            @Html.Partial("Partials/_turnos",Model)
        </div>
    </div>
    <script>
            document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
           
            function updateButtons(){
                $(".TurnoIconEdit").on("click", (e) => {
                    StartLoader();
                    $('.EditTurno-Container').empty();
                    let id = e.target.getAttribute('id');

                    $.ajax({
                        url: '/Turno/EditTurno?id=' + id + '&userId=@user.Id',
                        dataType: 'html',
                        async: true,
                        success: function (data) {
                            $('.EditTurno-Container').append(data);
                        }
                    });
                    StopLoader();
                })
             } 
        updateButtons()
        //# sourceURL=editTurno.js
    </script>

</div>