@using PrincipalObjects.Objects
@model List<Employee>;

@{
    User user = (User)ViewData["ActiveUser"];
    ViewData["Title"] = "Empleados";
}

<div class="Employee-Container">
</div>
<div class="bg-container">
    <div class="row pt-3 justify-content-start">
        <div class="col-2 ml-2">
            <div type="button" class="btn btn-secondary m-3" id="AgregarEmpleado"><i class="mdi mdi-account-search" style="font-size: 15px;font-style: normal !important;">AGREGAR</i></div>
        </div>

        <div class="col-2 ml-2">
            <div class="btn btn-secondary m-3" id="EditarSueldos"><i class="mdi mdi-account-search" style="font-size: 15px;font-style: normal !important;">EDITAR SUELDOS</i></div>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-11 mt-3 text-center" id="PartialEmployee">
            @Html.Partial("Partials/_employees",Model)
        </div>
    </div>
    <script>
            document.querySelectorAll(".mvc-grid").forEach(element => {
                new MvcGrid(element);

                $(".buttonEditEmployee").on("click", (e) => {
                    e.stopImmediatePropagation();
                    StartLoader();
                        $('.Employee-Container').empty();
                            let id = e.target.getAttribute('id');

                            $.ajax({
                                url: '/Employee/EditEmployee?id=' + id + '&userId=@user.Id',
                                dataType: 'html',
                                async: true,
                                success: function (data) {
                                    $('.Employee-Container').append(data);
                                }
                            });
                        StopLoader();
                });
            });

        $("#AgregarEmpleado").on("click",(e) =>{
                e.stopImmediatePropagation();
                StartLoader();
                $('.Employee-Container').empty();
                    let id = -1;

                    $.ajax({
                        url: '/Employee/EditEmployee?id=' + id + '&userId=@user.Id',
                        dataType: 'html',
                        async: true,
                        success: function (data) {
                            $('.Employee-Container').append(data);
                        }
                    });
                StopLoader();
            })

        $("#EditarSueldos").on("click", (e) => {
            e.stopImmediatePropagation();
            StartLoader();
            $('.Employee-Container').empty();
            let id = -1;

            $.ajax({
                url: '/Employee/EditarSueldosEmpleados?userId=@user.Id',
                dataType: 'html',
                async: true,
                success: function (data) {
                    $('.Employee-Container').append(data);
                }
            });
            StopLoader();
        })

        $(".buttonDeleteEmployee").on("click", (e) => {
                StartLoader();
                e.preventDefault();
                e.stopImmediatePropagation();
                let id = e.target.getAttribute('id');

                Swal.fire({
                  title: 'Seguro que deseas eliminar el registro?',
                  showDenyButton: true,
                  confirmButtonText: 'Eliminar',
                  denyButtonText: `Cancelar`,
                }).then((result) => {
                  /* Read more about isConfirmed, isDenied below */
                  if (result.isConfirmed) {
                        $.ajax({
                            url: '/Employee/EliminarEmpleado?empleadoId=' + id + '&userId=@user.Id',
                            dataType: 'html',
                            async: true,
                            success: function (data) {
                                location.reload();
                            }
                        });
                  }
                })
                StopLoader();
            });

            //# sourceURL=IndexEmployee.js
    </script>
</div>

