html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url(../img/BACK1.jpg) center;
    background-size: cover;
    /*background-size: initial; solo centro*/
}

.IndexIcon{
    font-style: normal !important;
}

.BlurBack {
}

.Edit-Container {
    height: 700px !important;
    width: 700px !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    background-color: #F9F9F9;
    z-index: 10000;
    box-shadow: 7px 7px 20px #808080;
}

.Edit-Title {
    height: 80px !important;
    width: 700px !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 15px 15px 0px 0px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   0% 0% 0%;;
    background-color: #4F4F4F;
    z-index: 10000;
    color:aliceblue;
}

.Edit-Body{
    padding: 80px;
}

.buttons-function-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.wrapPersonalizado {
    /* background-color: #fff; */
    /*padding: 2rem 3rem;*/
    text-align: center;
    box-shadow: 7px 7px 40px #222;
}

.ContainerMiddle {
}

.card {
    text-align: center;
    box-shadow: 7px 7px 20px #808080;
}

.cardFather {
    margin: 0px;
    padding: 0px;
    width: 20rem;
    height: 22rem;
    border-radius: 10px !important;
    transition: 3s;
}

    .cardFather :hover {
        background-color: rgb(227, 227, 227)
    }

.cardSon {
    margin: 0px;
    padding: 0px;
    width: 35rem;
    height: 6rem;
    border-radius: 10px !important;
    transition: 3s;
}

    .cardSon :hover {
        background-color: rgb(223, 223, 223)
    }

.principalIcon {
    font-style: normal !important;
    font-size: 150px;
    padding-bottom: 35px;
    padding-top: 100px;
    border-radius: 10px;
    z-index:20;
}

.secundayIcon {
    position:absolute;
    top: -8px;
    left: 20px;
    font-style: normal !important;
    font-size: 70px;
    padding-bottom: 17px;
    padding-top: 40px;
    border-radius: 10px;
    z-index: 20;
}

.cardTitlePrincipal {
    font-size: 30px;
    position: center;
    margin-top: 40%;
}
.cardTitlePrincipal:hover {
}

.cardTitleSecundary {
    font-size: 30px;
    position: absolute;
    left: 110px;
    top:  14px;
}

    .cardTitleSecundary:hover {
    }

.hasBlur {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    margin:auto;
    left:0;
}

.noDataTable{
    position: absolute;
}

.NotificationList{
    width: 400px !important;
}

.NotificationButton{
    position:absolute;
    right: 20px;
}

.dropdown-menu {
    border-radius: 1rem;
}

.titlenot-primary {
    background-color: #0d6efd !important;
}

.titlenot-warning {
    background-color: #ffc107 !important;
}

.titlenot-danger {
    background-color: #dc3545 !important;
}

.titlenot-success {
    background-color: #198754 !important;
}

.tableUp {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border: solid 2px black !important;
}

.tableDown {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border: solid 2px black !important;
}

.tableFather {
    border: solid 5px black !important;
}
