@{
    string pepe = "";
}

<li class="nav-item mr-3">
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="mdi mdi-bell-ring" style="font-size:20px;"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end NotificationList">
        </ul>
    </div>
</li>
<script src="~/lib/jquery/dist/jquery.min.js"></script>