@using PrincipalObjects.Objects

@{
    User user = (User)ViewData["ActiveUser"];
    ViewData["Title"] = "Liquidacion";
}

<div class="bg-container">
    <div class="row text-center justify-content-center">

        <div class="col-10 mt-3">
            <label for="images" class="drop-container" id="dropcontainer">

                <input type="file" id="formFile" accept=".csv" required>
                <span class="drop-title"><div type="button" class="btn btn-primary m-3" id="GenerarLiquidacion">GENERAR</div></span>
            </label>
        </div>

    </div>
    <div class="row text-center justify-content-center">

        <div class="col-10 mt-3">
            <span class="drop-title"><div type="button" class="btn btn-primary m-3" id="GenerarAutomatico">AUTOMATICO</div></span>
        </div>
    </div>
    <div class="row text-center justify-content-center">

        <div class="row mt-4 justify-content-center">
            <div class="col-11 mt-3 text-center" id="PartialLiquidacion">
            </div>
        </div>
    </div>

    <script>
        $("#GenerarLiquidacion").on("click", () => {
            StartLoader();
            var pdata = new FormData();
            var files = $("#formFile").get(0).files;
            pdata.append('FormFile', files[0]);
            pdata.append('userId', @user.Id);
            $.ajax({
                url: "UploadFile",
                type: "POST",
                data: pdata,
                processData: false,
                contentType: false,
                success: function (data) {
                    $('#PartialLiquidacion').append(data);

                    StopLoader();
                }
            });
        })

        $("#GenerarAutomatico").on("click", () => {
            StartLoader();
            var pdata = new FormData();
            var files = $("#formFile").get(0).files;
            pdata.append('FormFile', files[0]);
            pdata.append('userId', @user.Id);
            $.ajax({
                url: "GenerarAutomatico",
                type: "POST",
                data: pdata,
                processData: false,
                contentType: false,
                success: function (data) {
                    $('#PartialLiquidacion').append(data);

                    StopLoader();
                }
            });
        })
                //# sourceURL=IndexLiquidacion.js
    </script>


    <style>
        .drop-container {
            position: relative;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 200px;
            padding: 20px;
            border-radius: 10px;
            border: 2px dashed #555;
            color: #444;
            cursor: pointer;
            transition: background .2s ease-in-out, border .2s ease-in-out;
        }

            .drop-container:hover {
                background: #eee;
                border-color: #111;
            }

                .drop-container:hover .drop-title {
                    color: #222;
                }

        .drop-title {
            color: #444;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            transition: color .2s ease-in-out;
        }
    </style>
</div>