@using NonFactors.Mvc.Grid
@using PrincipalObjects.Objects
@model List<Reparacion>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />

@Html.Grid(Model).Build(columns =>
    {
        columns.Add(c => c.FechaAsString).Titled("Fecha").Sortable(true);
        columns.Add(c => c.NombreEmpelado).Titled("Empleado").Sortable(true);
        columns.Add(c => c.CodigoProductoAsString).Titled("Cod. Producto").Sortable(true);
        columns.Add(c => c.ReparacionRealizada).Titled("Reparacion").Sortable(true);
        columns.Add(c => c.Repuesto).Titled("Repuesto").Sortable(true);
        columns.Add(c => c.Trazabilidad).Titled("Trazabilidad").Sortable(true);
        columns.Add(c => Html.Raw("<a class='buttonEditReparacion' href='#'><i id='"+c.Id+"' class='mdi mdi-pencil-box p-0 m-0' style='font-size: 25px; cursor: pointer;'></i></a>")).Titled(Html.Raw("<i class='mdi mdi-pencil-box p-0 m-0' style='font-size: 25px;'></i>"));
        columns.Add(c => Html.Raw("<a class='buttonDeleteReparacion' href='#'><i class='mdi mdi-delete-circle p-0 m-0' id='"+ c.Id +"' style='font-size: 25px; cursor: pointer;'></i></a>")).Titled(Html.Raw("<i class='mdi mdi-delete-circle p-0 m-0' style='font-size: 25px;'></i>"));
    }).Named("Reparaciones-grid").Filterable().Empty("SIN REPARACIONES").Css("mvc-grid").Pageable(pager =>
        {
            pager.PagesToDisplay = 20;
            pager.RowsPerPage = 30;
        })
    @*.Css("tablas acceso")*@