@using PrincipalObjects.Objects;
@using NonFactors.Mvc.Grid
@model List<Compra>

<div class="row justify-content-between">
    <div class="col-2">
        <h6 class="fw-bolder">COMPRAS</h6>
    </div>
    <div class="col-2">
        <h6 class="fw-bolder">@Model.Count</h6>
    </div>
</div>

@Html.Grid(Model).Build(columns =>
    {
        columns.Add(c => c.comFechaEmision.Date).Titled("Fecha");
        columns.Add(c => "$ " + c.comTotalNeto + "," + c.comTotalNeto_Decimal).Titled("Valor compra");
        }).Named("Vale-grid").Empty("SIN COMPRAS").Css("mvc-grid").Pageable(pager =>
        {
            pager.PagesToDisplay = 20;
            pager.RowsPerPage = 30;
        })
    @*.Css("tablas acceso")*@