@using NonFactors.Mvc.Grid
@using PrincipalObjects.Objects;
@model List<Employee>;

    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />

@Html.Grid(Model).Build(columns =>
    {
        columns.Add(c => c.empName).Titled("Nombre").Sortable(true);
        columns.Add(c => c.empSurName).Titled("Apellido").Sortable(true);
        columns.Add(c => c.empLegajo).Titled("Legajo").Sortable(true);
        columns.Add(c => c.empCard).Titled("Tarjeta").Sortable(true);
        columns.Add(c => c.Turno == null?"Sin turno":c.Turno.turName).Titled("Turno").Sortable(true);
        columns.Add(c => Html.Raw("<a class='buttonEditEmployee' id='"+c.empId+"' href='#'><i id='"+c.empId+"' class='mdi mdi-pencil-box p-0 m-0' style='font-size: 25px; cursor: pointer;'></i></a>")).Titled(Html.Raw("<i class='mdi mdi-pencil-box p-0 m-0' style='font-size: 25px;'></i>"));
        columns.Add(c => Html.Raw("<a class='buttonDeleteEmployee'><i class='mdi mdi-delete-circle p-0 m-0' id='"+ c.empId +"' style='font-size: 25px; cursor: pointer;'></i><a>")).Titled(Html.Raw("<i class='mdi mdi-delete-circle p-0 m-0' style='font-size: 25px;'></i>"));
    }).Named("employees-grid").Filterable().Empty("SIN EMPLEADOS").Css("mvc-grid").Pageable(pager =>
        {
            pager.PagesToDisplay = 20;
            pager.RowsPerPage = 30;
        })
    @*.Css("tablas acceso")*@
    